<!-- Big up to knyttneve for this HTML + CSS Login page at https://codepen.io/knyttneve/full/JQppEw -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/login_page.css' %}">
<div class="container">
  <div class="right"></div>
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome!</h2>
      <h4 class="animation a2">Create an account</h4>
    </div>
    <form method="POST" action="{% url 'users:register' %}">
      <div class="form">
        {% csrf_token %}
        <input type="text" name="{{form.username.name}}" class="form-field animation a3" placeholder="{{form.username.label}} {% if form.username.field.required %}*{% endif %}">
        <p class="alert animation a3">{{ form.errors.username|striptags }}</p>
        <input type="email" name="{{form.email.name}}" class="form-field animation a3" placeholder="{{form.email.label}} {% if form.email.field.required %}*{% endif %}">
        <p class="alert animation a3">{{ form.errors.email|striptags }}</p>
        <input type="password" name="{{form.password1.name}}" class="form-field animation a4" placeholder="{{form.password1.label}} {% if form.password1.field.required %}*{% endif %}">
        <p class="alert animation a4">{{ form.errors.password1|striptags }}</p>
        <input type="password" name="{{form.password2.name}}" class="form-field animation a4" placeholder="{{form.password2.label}}  {% if form.password2.field.required %}*{% endif %}">
        <p class="alert animation a4">{{ form.errors.password2|striptags }}</p>
        <br>&nbsp;
        {% if form.errors %}
        <br>&nbsp;
        {% for error in form.non_field_errors %}
            <div class="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        <br>&nbsp;
        {% endif %}
        <button class="animation a6" type="submit">Register</button>
        <br>&nbsp;
        <p class="animation a7">Already have an account? <a href="{% url 'users:login' %}">Sign In!</a></p>
      </div>
    </form>
  </div>
</div>
